

.pace {
    display: none;
}

.main-style {
    min-height: 100vh;
    background: url(../img/cover/cover-scrum-board.png) no-repeat fixed;
    background-size: 360px;
    background-position: right bottom;
}

.hc:active{
    background-color:#accdd4;
}
.hc{
   background-color:#CAEBF2;
}

.title{
    width: 80%;
    height: 25px;
}

.ttext{
    color: grey;
    justify-content: space-around;
}


.dspace{
    height: 70px;
    width: 79%;
}


.pspace{


        width: 79%;
        height: 25px;
}


#EditCont{
display: none;
}
.taskt:hover #EditCont{
    display: block;
}
.ContEdit{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #CAEBF2;
    z-index: 999;
}


.taskt{
    position: relative;
}

