.pace {
    display: none;
}

.main-style {
    min-height: 100vh;
    background: url(../img/cover/cover-scrum-board.png) no-repeat fixed;
    background-size: 360px;
    background-position: right bottom;
}

.hc:active{
    background-color:#accdd4;
}
.hc{
   background-color:#CAEBF2;
}

.title{
    width: 80%;
    height: 25px;
}

.ttext{
    color: grey;
    justify-content: space-around;
}


.dspace{
    height: 70px;
    width: 79%;
}


.pspace{


        width: 79%;
        height: 25px;
}